<script>
// letters

import gsap from "gsap";

export default {
  props: {
    noanimate: {
      default: false,
    },
    letter: {
      default: "A",
    },
    direction: {
      default: "left",
    },
  },
  data() {
    return {
      h: 0,
      w: 0,
      offsets: {
        A: 0.4,
        B: 0.4,
        C: 0.3,
        E: 0.2,
        F: 0.2,
        G: 0.4,
        H: 0.07,
        I: 0.2,
        J: 0.34,
        L: 0.1,
        M: 0.5,
        N: 0.14,
        O: 0.5,
        P: 0.4,
        Q: 0.5,
        R: 0.4,
        S: 0.3,
        T: 0.3,
        U: 0.4,
        V: 0.4,
        D: 0.5,
        K: 0.5,
        W: 0.55,
        X: 0.36,
        Y: 0.4,
        Z: 0.2,
      },
      overlayoffsets: {
        B: 0.05,
        A: 0.05,
        J: 0.05,
        T: 0.05,
        O: 0.03,
        G: 0.03,
        W: 0.1,
        D: 0.2,
        K: 0.2,
        O: 0.12,
        P: 0.05,
        Q: 0.1,
        R: 0.05,
        S: 0.05,
        U: 0.05,
        M: 0.05,
        V: 0.03,
        X: 0.05,
        Y: 0.05,
      },
    };
  },
  methods: {
    helloworld() {
      console.log("hello world");
    },
  },
  mounted() {
    this.h = this.$refs.letter.offsetHeight;
    this.w = this.$refs.letter.offsetWidth;
    var h = this.h;
    var tl = gsap.timeline();
    var container = this.$refs.lettercontainer;
    var overlay = this.$refs.overlay;
    var direction = this.direction == "right" ? -1 : 1;
    if (!this.noanimate) {
      tl.timeScale(0.7);
      tl.set(container, { x: -(direction == 1 ? 1.5 : 0.5) * h * direction });
      tl.set(container, { scale: 0 });
      tl.to({}, { duration: 0.1 });
      tl.set(overlay, {
        x: 1.5 * h - h * this.overlayoffsets[this.letter],
      });
      tl.set(container, { scale: 1 });
      tl.to(container, {
        x: -(direction == 1 ? 1.44 : 0.44) * h * direction,
        duration: 0.2,
      });
      tl.to(this.$refs.stretch, {
        scaleX: 0,
        x: -0.4 * h,
        duration: 0.07,
        ease: "power4.out",
      });
      tl.to(
        overlay,
        {
          x: -0.01 * h * direction,
          duration: 0.06,
          ease: "power4.out",
        },
        "-=0.07"
      );
      tl.set(overlay, { scale: 0 });
      tl.set(this.$refs.letter, { clearProps: "clip-path" });
      tl.to(
        container,
        { x: -0.1 * h * direction, duration: 0.07, ease: "power4.out" },
        "-=0.07"
      );
      tl.to(container, { x: 0, duration: 2, ease: "power4.out" });
      /* tl.to(container, {x: 0 * h, duration: 0.2}); */
    }
  },
  computed: {
    letterpath() {
      var paths = {
        B: "polygon(-0.82% 0.78%, 43.06% 2.34%, 40.91% 93.75%, 0.26% 94.53%)",
        C: "polygon(-2.47% 9.22%, -4.15% 93.75%, 96.67% 93.76%, 100.84% 73.43%, 54.08% 72.65%, 54.1% 27.35%, 103.12% 26.57%, 105.2% 10.15%)",
        G: "polygon(101.8% 42.2%, 102.89% 97.65%, 6.84% 98.43%, 0.7% 10.95%, 54.85% 6.26%, 54.87% 42.19%)",
        D: "polygon(-0.82% 0.78%, 43.06% 2.34%, 40.91% 93.75%, 0.26% 94.53%)",
        P: "polygon(-0.82% 0.78%, 43.06% 2.34%, 40.91% 93.75%, 0.26% 94.53%)",
        Q: "polygon(0% 0%, 45% 0%, 45% 100%, 0% 100%)",
        J: "polygon(0% 0%, 45% 0%, 45% 100%, 0% 100%)",
        R: "polygon(5.86% 9.22%, 6.79% 93.75%, 101.7% 94.53%, 101.72% 46.88%, 49.55% 48.45%, 50.44% 9.37%)",
        O: "polygon(0% 0%, 50% 0%, 50% 100%, 0% 100%)",
        S: "polygon(5.96% 6.25%, 97.73% 5.47%, 98.91% 57.03%, 10.74% 57.81%)",
        U: "polygon(0% 0%, 50% 0%, 50% 100%, 0% 100%)",
        V: "polygon(0% 0%, 50% 0%, 50% 100%, 0% 100%)",
        X: "polygon(0% 0%, 50% 0%, 50% 100%, 0% 100%)",
      };
      return "clip-path: " + paths[this.letter];
    },
    teststyle() {
      var h = this.h;
      switch (this.letter) {
        case "E":
          return `width: ${h * 1}px; height: 100px;`;
        default:
          return "width: 100px; height: 10px;";
      }
    },
  },
};
</script>

<template>
  <mask
    id="masking"
    maskUnits="objectBoundingBox"
    maskContentUnits="objectBoundingBox"
  >
    <rect y="0" width="1" height="1" fill="url(#gradient)" />
    <circle cx=".5" cy=".5" r=".4" fill="gray" />
    <circle cx=".5" cy=".5" r=".3" fill="white" />
  </mask>
  <div ref="lettercontainer" class="flex flex-row">
    <p
      ref="letter"
      class="font-bold text-gray-900 text-9xl"
      :style="letterpath"
    >
      {{ this.letter }}
    </p>
    <div ref="stretch" style="transform-origin: left">
      <div
        :style="`position: relative; left: -${h * this.offsets[this.letter]}px`"
      >
        <div v-if="['I', 'M', 'N','T', 'K', 'W', 'A', 'H', 'Y'].includes(letter)">
          <div
            :style="`width: ${h * 1.5}px; margin-top: ${h * 0.13}px; height: ${
              h * 0.75
            }px;`"
            class="absolute bg-gray-900"
          ></div>
        </div>
        <div
          v-if="['B', 'E', 'F', 'G', 'C', 'D', 'P', 'R', 'Q', 'O'].includes(letter)"
        >
          <div
            :style="`width: ${h * 1.5}px; margin-top: ${h * 0.14}px; height: ${
              h * 0.124
            }px;`"
            class="absolute bg-gray-900"
          ></div>
        </div>
        <div v-if="['B', 'E', 'F', 'G','X', 'S'].includes(letter)">
          <div
            :style="`width: ${h * 1.5}px; margin-top: ${h * 0.44}px; height: ${
              h * 0.124
            }px;`"
            class="absolute bg-gray-900"
          ></div>
        </div>

        <div v-if="letter == 'P' || letter == 'R'">
          <div
            :style="`width: ${h * 1.5}px; margin-top: ${h * 0.51}px; height: ${
              h * 0.124
            }px;`"
            class="absolute bg-gray-900"
          ></div>
        </div>

        <div
          v-if="
            ['B', 'E', 'C', 'J','D', 'U', 'V', 'Q', 'O', 'L', 'Z'].includes(letter)
          "
        >
          <div
            :style="`width: ${h * 1.5}px; margin-top: ${h * 0.736}px; height: ${
              h * 0.124
            }px;`"
            class="absolute bg-gray-900"
          ></div>
        </div>
      </div>
    </div>
    <div ref="overlay" :style="`position: relative; left: -${this.w}px`">
      <div v-if="this.letter == 'T'">
        <p class="absolute font-bold text-gray-900 text-9xl">T</p>
      </div>
      <div v-if="['M', 'O', 'Q', 'U', 'V', 'X', 'Y'].includes(this.letter)">
        <p
          class="absolute font-bold text-gray-900 text-9xl"
          style="clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 50% 100%)"
        >
          {{ this.letter }}
        </p>
      </div>
      <div v-if="['A', 'B', 'D','P','W', 'K', 'A'].includes(this.letter)">
        <p
          class="absolute font-bold text-gray-900 text-9xl"
          style="clip-path: polygon(40% 0%, 100% 0%, 100% 100%, 40% 100%)"
        >
          {{ this.letter }}
        </p>
      </div>

      <div v-if="this.letter == 'S'">
        <p
          class="absolute font-bold text-gray-900 text-9xl"
          style=" clip-path: polygon( 0% 43.75%, 100% 43.75%, 100% 100%, 0% 91.4%); "
        >
          {{ this.letter }}
        </p>
      </div>

      <div v-if="this.letter == 'J'">
        <p
          class="absolute font-bold text-gray-900 text-9xl"
          style=" clip-path: polygon(42.49% 7.02%, 98.46% 5.48%, 99.83% 93.75%, 42.49% 96.09%) "
        >
          {{ this.letter }}
        </p>
      </div>
      <div v-if="['R'].includes(this.letter)">
        <p
          class="absolute font-bold text-gray-900 text-9xl"
          style=" clip-path: polygon( 33.24% 11.56%, 37.74% 63.28%, 102.91% 62.51%, 103.12% 10.95%); "
        >
          {{ this.letter }}
        </p>
      </div>
      <div v-if="['G'].includes(this.letter)">
        <p
          class="absolute font-bold text-gray-900 text-9xl"
          style=" clip-path: polygon(47.62% 2.19%, 48.01% 44.53%, 119.34% 45.33%, 105.17% 3.14%) "
        >
          {{ this.letter }}
        </p>
      </div>
    </div>
  </div>
</template>

<style scoped></style>
