<script>
// letters
export default {
  methods: {
    popelement() {
      this.messages.shift();
      this.displayelement = false;
      setTimeout(() => {
        this.displayelement = true;
      }, 1000);
    },
  },
  data() {
    return {
      queue: [],
      displayelement: false,
    };
  },
};
</script>

<template></template>

<style scoped></style>
