<script>

</script>


<template>
  <div>
    <h1 class="hidden bg-blue-600 text-blue-200">aa</h1>
    <h1 class="hidden bg-blue-200 text-blue-400">aa</h1>
    <h1 class="hidden bg-blue-400 text-blue-600">aa</h1>

    <h1 class="hidden bg-red-600 text-red-200">aa</h1>
    <h1 class="hidden bg-red-200 text-red-400">aa</h1>
    <h1 class="hidden bg-red-400 text-red-600">aa</h1>
  </div>
</template>
