<script>
import gsap from "gsap";
export default {
  data() {
    return {
      notifications: ["hello world", "this is a test"],
      testtitle: "hello, this is a test title",
    };
  },
  mounted() {
    var tl = gsap.timeline();
    tl.from(this.$refs.animatedletter, {
      opacity: 0,
      duration: 0.001,
      stagger: 0.02,
    });
    tl.from(
      this.$refs.animatedletter,
      {
        y: this.$refs.animatedletter[0].offsetHeight * (25 / 9),
        duration: 0.3,
        stagger: 0.02,
      },
      "-= " + 0.02 * this.testtitle.length
    );
  },
};
</script>

<template>
  <div class="max-w-4xl mx-auto bg-gray-400">
    <div class="flex flex-row max-w-xl mx-auto">
      <RiotLetter letter="G" direction="left" />
      <RiotLetter letter="S" direction="right" />
    </div>

<p class="text-9xl">

Hello world, this is a test</p>


<RiotLetter letter="A"/>
<RiotLetter letter="B"/>
<RiotLetter letter="C"/>
<RiotLetter letter="D"/>
<RiotLetter letter="E"/>
<RiotLetter letter="F"/>

    <div v-for="notification in notifications" :key="notification">
      <IconNotification
        color="red"
        rotating="ads"
        duration="40"
        icon="fa-solid fa-compact-disc"
        subtitle="not"
        >{{ notification }}</IconNotification
      >
    </div>
    <div ref="testanimated" class="flex flex-row">
      <div v-for="letter in testtitle.split(' ')" :key="letter">
        <span ref="animatedletter" class="block text-5xl">{{
          letter + "&nbsp;"
        }}</span>
      </div>
    </div>
  </div>

  <div
    class="hidden text-blue-100 text-blue-400 bg-blue-200 bg-blue-400 bg-blue-600 "
  >
    this is needed because tailwind doesn't include classes that aren't
    hardcoded anywhere. Some color classes are applied through string
    concatenation, hence the hardcoding here
  </div>
  <div
    class="hidden text-green-100 text-green-400 bg-green-200 bg-green-400 bg-green-600 "
  ></div>
  <div
    class="hidden text-red-100 text-red-400 bg-red-200 bg-red-400 bg-red-600"
  ></div>

  <div
    class="hidden text-yellow-100 text-yellow-400 bg-yellow-200 bg-yellow-400 bg-yellow-600 "
  ></div>
</template>
