<script>
import { io } from "socket.io-client";

export default {
  mounted() {
    const socket = io("http://localhost:8000");
    socket.on("musicinfo", (info) => {
      this.displayelement = true;
      this.messages.push(info);
    });
  },
  methods: {
    popelement() {
      this.messages.shift();
      this.displayelement = false;
      setTimeout(() => {
        this.displayelement = true;
      }, 1000);
    },
  },
  data() {
    return {
      messages: [],
      haselements: false,
      displayelement: false,
      currentelement: [],
    };
  },
};
</script>

<template>
  <div v-if="this.messages.length >= 1 && this.displayelement">
    <IconNotification
      color="red"
      rotating="ads"
      duration="2"
      @elementtimeout="popelement"
      icon="fa-solid fa-compact-disc"
      :subtitle="this.messages[0].title"
      >{{ this.messages[0].artist }}</IconNotification
    >
    <br />

    asdad
  </div>
</template>
