<script>
export default {
  data() {
    return {
      titles: [],
    };
  },
  methods: {
    greet(event) {
      alert("hello world");
    },
  },
};
</script>

<template>
  <div class="max-w-4xl mx-auto bg-gray-700">
    <div
      v-for="value in [
        {
          title: 'helloworld',
          subtitle: 'helloworld',
        },
        {
          title: 'helloworld2',
          subtitle: 'helloworld',
        },
        {
          title: 'helloworld3',
          subtitle: 'helloworld',
        },
      ]"
    >
      <div>
        <div class="my-1 flex flex-row">
          <div class="p-6 bg-blue-400 rounded-lg">
            <h1 class="text-4xl text-white">S</h1>
            <p class="text-white">just superb</p>
          </div>
          <p class="px-6 my-auto text-blue-100">
            {{ value.title }}
          </p>
        </div>
      </div>
    </div>
  </div>
  <n-space size="small" justify="space-around">
    <n-layout>
      <n-layout-header>This is a head text</n-layout-header>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea deserunt
      placeat fugit culpa cupiditate error illum esse libero accusamus Lorem
      ipsum dolor sit amet consectetur adipisicing elit. Ea deserunt Lorem ipsum
      dolor sit amet consectetur adipisicing elit. Ea deserunt placeat fugit
      culpa cupiditate error illum esse libero accusamus perferendis,
      perspiciatis dolores eligendi quo beatae eveniet neque aperiam!
      Reprehenderit, a? placeat fugit culpa cupiditate error illum esse libero
      accusamus perferendis, perspiciatis dolores eligendi quo beatae eveniet
      neque aperiam! Reprehenderit, a? perferendis, perspiciatis dolores
      eligendi quo beatae eveniet neque aperiam! Reprehenderit, a?
      <n-collapse>
        <n-collapse-item title="helloworld">
          <n-button>look, theres stuff in here</n-button>
        </n-collapse-item>
        <n-collapse-item title="helloworld2">
          <n-button>look, theres stuff in here222</n-button>
        </n-collapse-item>
      </n-collapse>
      <n-divider/>
      <n-card title="Card">
        Card Content
        <n-button>naive-ui</n-button>
      </n-card>
      <n-layout-footer>Chengfu Road</n-layout-footer>
    </n-layout>
  </n-space>
</template>
